[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-migrate = "*"
flask-cors = "*"
flask-admin = "*"
werkzeug = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-wtf = "*"
email-validator = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
